<a href="https://colab.research.google.com/github/fromakim/2021Election_Analysis/blob/main/data_getfollowers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Dev Environment

In [71]:
import itertools
import json
import requests
from time import sleep
from urllib import parse
from datetime import datetime, timedelta

In [2]:
import numpy as np
import pandas as pd

In [4]:
from google.colab import drive

In [5]:
drive.mount('/content/gdrive')
# LAMBDA: import boto3

Mounted at /content/gdrive

In [ ]:
# LABMDA: s3 = boto3.client('s3')

# 2. Key File Setting

In [6]:
f = open('./gdrive/MyDrive/Colab Notebooks/key.json')
# LAMBDA: f = open('./key.json')
keys = json.load(f)

In [7]:
api_key = keys['api_key']
api_secret_key = keys['api_secret_key']
bearer_token = keys['bearer_token']
app_id = keys['app_id']
index = int(keys['index'])

In [8]:
headers = {"Authorization" : f"Bearer {bearer_token}"}

# 3. Import Data

In [9]:
users = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/election_sample/user.csv')
# LAMBDA: users = pd.read_csv('./user.csv')

# 4. Collect Follow Network

In [ ]:
follows = pd.json_normalize(requests.get(f'https://api.twitter.com/2/users/{users["id"][index]}/following?max_results=1000', headers = headers).json()['data'])

In [ ]:
follows.columns = ['to', 'name', 'username']

In [ ]:
follows['from'] = users['id'][index]

In [ ]:
body = follows.to_json(orient = 'records')

'[{"to":"982126734","name":"\\u1d55\\u2240 \\u0320\\u1d55","username":"wouldujustnot","from":1236893975488778241},{"to":"977544986148274177","name":"MJ","username":"KIM_etal","from":1236893975488778241},{"to":"150633655","name":"Martin McKee","username":"martinmckee","from":1236893975488778241},{"to":"1181519339050156032","name":"June","username":"demipointe_139","from":1236893975488778241},{"to":"188244198","name":"jee","username":"limjees","from":1236893975488778241},{"to":"1209816676016873473","name":"\\uba74","username":"choimyeon","from":1236893975488778241},{"to":"275551267","name":"\\uae40\\uc5f0\\uacbd kim yeon koung","username":"kimyk10","from":1236893975488778241},{"to":"132762348","name":"JOY","username":"BF_cordwainer","from":1236893975488778241},{"to":"151764715","name":"\\uc0dd\\uac15","username":"inkivaariyksi","from":1236893975488778241},{"to":"43509988","name":"tablo","username":"blobyblo","from":1236893975488778241},{"to":"2972799367","name":"\\uc815\\ubc00\\uc544Jeongmilla","username":"Jeong_milla","from":1236893975488778241},{"to":"1289395515621179393","name":"\\ub808\\uc774\\uc5b4\\ub4dc","username":"LayeredInvest","from":1236893975488778241},{"to":"1270959013648191490","name":"\\uad8c\\uc778\\uc219","username":"Insook_Kwon","from":1236893975488778241},{"to":"937886702722465793","name":"\\uae40\\ube0c\\ub9ac","username":"kimbrie_","from":1236893975488778241},{"to":"1087885045770027008","name":"\\ub4e3\\ub611\\ub77c","username":"listen_smart_","from":1236893975488778241},{"to":"158409927","name":"\\uc870\\uc9d5","username":"zozingzing","from":1236893975488778241},{"to":"2843173604","name":"\\ud751\\uc601","username":"jesuisombrenoir","from":1236893975488778241},{"to":"53305769","name":"Hyunho Shin","username":"shinhh","from":1236893975488778241},{"to":"168838944","name":"\\ud30c\\uc211\\uc211","username":"suresuresowhat","from":1236893975488778241},{"to":"918826358691700736","name":"\\uad81\\uae08","username":"mina_table","from":1236893975488778241},{"to":"86482203","name":"\\uae40\\uc9c4\\uc560","username":"jk_space","from":1236893975488778241},{"to":"128304069","name":"\\uc624\\uc9c0\\uc740\\ud83c\\udf3f","username":"heaventomorrow","from":1236893975488778241},{"to":"116168125","name":"\\uc774\\uc774\\uc5b8","username":"eaeon","from":1236893975488778241},{"to":"261727021","name":"\\uae40 \\uc580","username":"babamba2020","from":1236893975488778241},{"to":"3131144855","name":"Boris Johnson","username":"BorisJohnson","from":1236893975488778241},{"to":"313099820","name":"\\ub9e4\\uc5f0\\uacc4\\uace12","username":"smokevalley2","from":1236893975488778241},{"to":"161801527","name":"Melinda French Gates","username":"melindagates","from":1236893975488778241},{"to":"17899109","name":"Gates Foundation","username":"gatesfoundation","from":1236893975488778241},{"to":"50393960","name":"Bill Gates","username":"BillGates","from":1236893975488778241},{"to":"813286","name":"Barack Obama","username":"BarackObama","from":1236893975488778241},{"to":"1241778306204102656","name":"\\ucd94\\uc801\\ub2e8\\ubd88\\uaf43","username":"56flame","from":1236893975488778241},{"to":"171901847","name":"\\uc704\\uadfc\\uc6b0","username":"guevara_99","from":1236893975488778241},{"to":"117658308","name":"\\uc815\\ud61c\\uc2e0","username":"mindjj","from":1236893975488778241},{"to":"166739404","name":"Emma Watson","username":"EmmaWatson","from":1236893975488778241},{"to":"444465942","name":"\\ubb38\\uc7ac\\uc778","username":"moonriver365","from":1236893975488778241},{"to":"144284168","name":"JAY BUM PARK","username":"JAYBUMAOM","from":1236893975488778241}]'

In [ ]:
# LAMBDA: s3.put_object(Body = body, Bucket = 'electiondatafile', Key = f'follows/{users["id"][index]}.json')

# 5. Modify Key Settings

In [ ]:
keys['index'] = str(int(keys['index']) + 1)

In [ ]:
# LAMBDA: s3.put_object(Body = json.dumps(keys), Bucket = 'electiondatafile', Key = 'key.json')

Loop

In [59]:
users.columns = ['name', 'verified', 'created_at', 'description', 'profile_image_url', 'username', 'id', 'url', 'protected', 'location', 'pinned_tweet_id']

In [68]:
follows = pd.DataFrame(columns = ['to_id', 'to_name', 'to_username', 'from_id', 'from_name', 'from_username'])

In [127]:
for index, user in users[234:].iterrows():      # 바로 실행하면 됨.
    try:
        print(f'user analysis on index [{index}]')

        res = requests.get(f'https://api.twitter.com/2/users/{user.id}/following?max_results=1000', headers = headers).json()

        data = res['data']
        count = res['meta']['result_count']
        
        df = pd.json_normalize(data)
        df = df[['id', 'name', 'username']]
        df.columns = ['to_id', 'to_name', 'to_username']
        
        df['from_id'] = user['id']
        df['from_name'] = user['name']
        df['from_username'] = user['username']

        follows = pd.concat([follows, df])

    except:
        print(f'execution stopped at the index : [{index}]')
        print(res)

        # if res['errors'][0]['title'] == 'Authorization Error':
        #     sleep(90)
        #     continue
        continue

    finally:
        sleep(90)

user analysis on index [171]
user analysis on index [172]
user analysis on index [173]
user analysis on index [174]
user analysis on index [175]
user analysis on index [176]
execution stopped at the index : [176]
{'errors': [{'value': '1438745955327569927', 'detail': 'Could not find user with id: [1438745955327569927].', 'title': 'Not Found Error', 'resource_type': 'user', 'parameter': 'id', 'resource_id': '1438745955327569927', 'type': 'https://api.twitter.com/2/problems/resource-not-found'}]}
user analysis on index [177]
user analysis on index [178]
user analysis on index [179]
user analysis on index [180]
user analysis on index [181]
user analysis on index [182]
user analysis on index [183]
user analysis on index [184]
user analysis on index [185]
user analysis on index [186]
user analysis on index [187]
user analysis on index [188]
user analysis on index [189]
user analysis on index [190]
execution stopped at the index : [190]
{'errors': [{'value': '976145981661003777', 'detail': 'Could not find user with id: [976145981661003777].', 'title': 'Not Found Error', 'resource_type': 'user', 'parameter': 'id', 'resource_id': '976145981661003777', 'type': 'https://api.twitter.com/2/problems/resource-not-found'}]}
user analysis on index [191]
user analysis on index [192]
user analysis on index [193]
user analysis on index [194]
user analysis on index [195]
user analysis on index [196]
user analysis on index [197]
execution stopped at the index : [197]
{'errors': [{'resource_id': '974646566429515776', 'parameter': 'id', 'resource_type': 'user', 'section': 'data', 'title': 'Authorization Error', 'value': '974646566429515776', 'detail': 'Sorry, you are not authorized to see the user with id: [974646566429515776].', 'type': 'https://api.twitter.com/2/problems/not-authorized-for-resource'}]}
user analysis on index [198]
user analysis on index [199]
user analysis on index [200]
user analysis on index [201]
user analysis on index [202]
user analysis on index [203]
user analysis on index [204]
user analysis on index [205]
user analysis on index [206]
user analysis on index [207]
execution stopped at the index : [207]
{'errors': [{'resource_id': '1431262995535958024', 'parameter': 'id', 'resource_type': 'user', 'section': 'data', 'title': 'Authorization Error', 'value': '1431262995535958024', 'detail': 'Sorry, you are not authorized to see the user with id: [1431262995535958024].', 'type': 'https://api.twitter.com/2/problems/not-authorized-for-resource'}]}
user analysis on index [208]
user analysis on index [209]
user analysis on index [210]
user analysis on index [211]
user analysis on index [212]
user analysis on index [213]
user analysis on index [214]
execution stopped at the index : [214]
{'errors': [{'resource_id': '1447810922328641536', 'parameter': 'id', 'resource_type': 'user', 'section': 'data', 'title': 'Authorization Error', 'value': '1447810922328641536', 'detail': 'Sorry, you are not authorized to see the user with id: [1447810922328641536].', 'type': 'https://api.twitter.com/2/problems/not-authorized-for-resource'}]}
user analysis on index [215]
user analysis on index [216]
user analysis on index [217]
user analysis on index [218]
user analysis on index [219]
user analysis on index [220]
user analysis on index [221]
user analysis on index [222]
user analysis on index [223]
user analysis on index [224]
user analysis on index [225]
user analysis on index [226]
user analysis on index [227]
user analysis on index [228]
user analysis on index [229]
user analysis on index [230]
user analysis on index [231]
user analysis on index [232]
user analysis on index [233]

KeyboardInterrupt: ignored

In [128]:
follows

                   to_id       to_name  ... from_name from_username
0              982126734         ᵕ≀ ̠ᵕ  ...        크즈       unkogej
1     977544986148274177            MJ  ...        크즈       unkogej
2              150633655  Martin McKee  ...        크즈       unkogej
3    1181519339050156032          June  ...        크즈       unkogej
4              188244198           jee  ...        크즈       unkogej
..                   ...           ...  ...       ...           ...
343            166739404   Emma Watson  ...        니니    puffinpeng
344             98567132   페미니스트 저널 일다  ...        니니    puffinpeng
345   703107382625198080        기독교 덕후  ...        니니    puffinpeng
346            151807455         djuna  ...        니니    puffinpeng
347           2893741537           황현산  ...        니니    puffinpeng

[95691 rows x 6 columns]

In [129]:
users[230:235]

               name  verified  ...      location pinned_tweet_id
230         카르텔v2.0     False  ...           NaN    1.454243e+18
231     #사사오입 #부정선거     False  ...            서울             NaN
232  👹TV조선홍회장vs전과4범     False  ...           NaN    1.437577e+18
233              니니     False  ...  New York, NY    1.438281e+18
234             심상정      True  ...         Korea             NaN

[5 rows x 11 columns]

In [117]:
follows.reset_index(drop = True).to_csv('followmap.csv')

In [116]:
follows

                   to_id        to_name  ... from_name from_username
0              982126734          ᵕ≀ ̠ᵕ  ...        크즈       unkogej
1     977544986148274177             MJ  ...        크즈       unkogej
2              150633655   Martin McKee  ...        크즈       unkogej
3    1181519339050156032           June  ...        크즈       unkogej
4              188244198            jee  ...        크즈       unkogej
..                   ...            ...  ...       ...           ...
104  1445600122427957253             혜견  ...         냠       ddinni_
105  1233190331761381377         🤍말랑공주❤  ...         냠       ddinni_
106  1232912988459290624       클튜출석해💢무해  ...         냠       ddinni_
107   724774289765896192            루토스  ...         냠       ddinni_
108           2835113330  레나를 사랑하는 MERO  ...         냠       ddinni_

[38069 rows x 6 columns]